modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3001

[[ports]]
localPort = 5051
externalPort = 3002

[[ports]]
localPort = 23636
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
VITE_RECAPTCHA_SITE_KEY = "6LdzfJwsAAAAL0uwyOf4Z9zMDhH4x8O4-encYT7"
ADMIN_EMAIL = "info@advisoryconnect.pro"
TWA_PACKAGE_NAME = "pro.advisoryconnect.app"
TWA_SHA256_FINGERPRINT = "DA:A4:46:EC:93:F4:F4:F7:CC:47:50:B0:9A:7D:FD:2A:61:45:B1:36:C2:99:E3:08:44:2C:83:5E:84:6E:0E:36"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000
